
# Virtual environment
env/

# Python compiled files
*.pyc
__pycache__/

# Django-related
*.log
db.sqlite3
.media/
/media/
# Environment variables
.env

# Static and media files

# IDE files
.vscode/
.idea/
